body {
font-family: 'Montserrat Subrayada', sans-serif;
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main{
text-align: center;    
}

section{
    margin-bottom: 6vh;
}

h1{
    font-size: 30px;
}

input{
display: block;
margin: auto;
}

button{
    background-color: lightgrey;

}

button:hover {
    background-color: grey;
}